//search for mobile only
@media (min-width: 768px) {
  #block-projecten-search {
    display: none;
  }
}



header.navbar {
  height: 120px;
  background: #002137;


  //hamburger menu button
  .navbar-toggle {
    margin-top: -80px;
  }

  .navbar-header {
    height: 100px;
  }
}

#block-logo {
  line-height: 120px;
}

#block-projecten-main-menu {
  line-height: 120px;


  ul {
    @media (min-width: 992px) {
      height: 120px;
      line-height: 120px;
      text-align: right;
      float: right;
      padding-right: 100px;
    }
    li {
      @media (min-width: 992px) {
        line-height: 120px;
        float: none;
        display: inline-block;
      }
      a {
        color: #fff;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        padding: 18px;

        &:hover {
          color: #0a6eb4;
          border: 2px solid #0a6eb4;
          padding: 16px;
        }
      }

      a.is-active {
        background: none;
        color: #0a6eb4;
        border: 2px solid #0a6eb4;
        padding: 16px;
      }
    }
  }
}



#block-projecten-account-menu {
  line-height: 120px;

  ul {
    @media (min-width: 992px) {
      height: 120px;
      line-height: 120px;
      text-align: right;
      float: right;
      margin-right: -90px;
    }
    li {
      @media (min-width: 992px) {
        line-height: 120px;
        float: none;
        display: inline-block;
      }
      a {
        color: #fff;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
      }
    }
  }
}

.navigation {
  float: left;
}

#navbar-collapse {
  @media (max-width: 992px) {
    background: #002137;
    margin-top: 19px;
    max-height: 400px;
  }
}

.navbar-header {
  height: 120px;
  background: #002137;
}


//hamburger menu for tablet
@media (max-width: 992px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
  }
}


body.navbar-is-fixed-top {
  margin-top: 120px;
}


//ads
.node--type-ads {
  margin-left: 7%;
  margin-right: 7%;
}

.view-id-ads{
  margin-left: 7%;
  margin-right: 7%;
}
.bef-exposed-form .form--inline > .form-item{
  margin-left: 7%;
  ul {
    list-style-type: none;
    padding-inline-start: 0;
  }
}
.bef-exposed-form .form--inline > .form-item:nth-child(1) {
  margin-left: 0%;
}
.form-group{
  margin-top: 2%;
}

.group-left {
  width: 70% !important;
  word-wrap: break-word;
}

.group-right {
  width: 20% !important;
}

@media (max-width: 768px) {
  .group-right {
    float: none !important;
  }
}

.form-checkboxes {
  display: grid;
}

@media (max-width: 992px) {
  .bef-exposed-form .form--inline > .form-item {
    margin-left: 2%;
  }
}





#block-views-block-news-block-block-1 {
  margin-left: 7%;
  float: left;
  width: 41%;

  .pager {
    display: none;
  }

  h2{
    color: #0a6eb4;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-align: center;
  }
  .views-row {

    margin-bottom: 30px;
    position: relative;
    width: auto;


    img {
      width: 100%;
      height: auto;
      border: 3px inherit;
      -moz-border-radius: 10px; /* для старых Mozilla Firefox */
      -webkit-border-radius: 10px; /* для старых Chrome и Safari */
      -khtml-border-radius:10px; /* для браузера Konquerer системы Linux */
      border-radius: 10px; /* закругление углов для всех, кто понимает */
    }

    span {
      a {
        position: absolute;
        color: #fff;
        font-size: 17px;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        padding: 10px 15px;
      }
    }
  }
}


#block-views-block-ads-block-block-1 {
  float: left;
  width: 41%;
  margin-left: 4%;
  margin-right: 7%;

  .pager {
    display: none;
  }

  h2{
    color: #0a6eb4;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-align: center;
  }
  .views-row {
    margin-bottom: 30px;
    position: relative;
    width: auto;

    img {
      width: 100%;
      height: auto;
      border: 3px inherit;
      -moz-border-radius: 10px; /* для старых Mozilla Firefox */
      -webkit-border-radius: 10px; /* для старых Chrome и Safari */
      -khtml-border-radius:10px; /* для браузера Konquerer системы Linux */
      border-radius: 10px; /* закругление углов для всех, кто понимает */
    }

    span {
      a {
        position: absolute;
        color: #fff;
        font-size: 17px;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        padding: 10px 15px;
      }
    }
  }
}

@media (max-width: 992px) {
  #block-views-block-news-block-block-1 {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    h2 {
      font-size: 30px;
    }
  }

  #block-views-block-ads-block-block-1 {
    float: none;
    width: 100%;
    margin-left: 0;
    h2{
      font-size: 30px;
    }
  }
}

@media (max-width: 350px) {
  #block-views-block-news-block-block-1 {
    h2 {
      font-size: 20px;
    }

    a {
      font-size: 14px !important;
    }
  }

  #block-views-block-ads-block-block-1 {
    h2{
      font-size: 20px;
    }
  }
}

// news
.news {
  margin-right: 7%;
  margin-left: 7%;
  .view-content {
    display: grid;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    .views-row{
      margin-bottom: 2%;
    }
    .views-field.views-field-title{
      margin-bottom: 1%;
    }
    .views-field.views-field-title> span> a {
      text-decoration: none;
      font-size: 20px;
    }
    img {
      float: left;
      margin-right: 2%;
      border: 3px inherit;
      -moz-border-radius: 10px; /* для старых Mozilla Firefox */
      -webkit-border-radius: 10px; /* для старых Chrome и Safari */
      -khtml-border-radius:10px; /* для браузера Konquerer системы Linux */
      border-radius: 10px; /* закругление углов для всех, кто понимает */
    }
  }
}

// news article
article.contextual-region.news.full.clearfix {
  margin-top: 2%;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  .field--items {
    float: left;
    margin-right: 2%;
  }
  img {
    margin-bottom: 1%;
    border: 3px inherit;
    -moz-border-radius: 10px; /* для старых Mozilla Firefox */
    -webkit-border-radius: 10px; /* для старых Chrome и Safari */
    -khtml-border-radius:10px; /* для браузера Konquerer системы Linux */
    border-radius: 10px; /* закругление углов для всех, кто понимает */
  }
}


// blog's article
article.blog-post.full.clearfix {
  margin-top: 2%;
  h2 {
    font-size: 25px;
  }
  .content {
    p {
      font-size: 18px;
    }
    span {
      font-size: 14px;
    }
  }
}


#block-youtubesvideo {
  padding-right: 7%;
  padding-left: 7%;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  display: inline-block;
  background: #515f67;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-right: -15px;
  margin-left: -15px;



  p{
    margin-bottom: 4%;
  }

  .field--name-field-link {
    a {
      color: #fff;
      border: 2px solid #fff;
      text-decoration: none;
      padding: 15px 30px;
      display: inline-block;

      &:hover {
        color: #0a6eb4;
        border: 2px solid #0a6eb4;
      }
    }
  }
}

@media (max-width: 992px) {
  #block-youtubesvideo {
    padding-right: 0;
    padding-left: 0;
  }
}
